# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Node.js related
node_modules/

# # Secure files
# .env
# firebase_options.dart
# serviceAccountKey.json

# Backend specific
/backend/node_modules/
/backend/.env
/backend/serviceAccountKey.json

# Admin Panel specific
/admin_panel/build/
/admin_panel/.flutter-plugins
/admin_panel/.flutter-plugins-dependencies
/admin_panel/.packages
/admin_panel/.pub-cache/
/admin_panel/.pub/

# Mobile App specific
/mobile_app/build/
/mobile_app/.flutter-plugins
/mobile_app/.flutter-plugins-dependencies
/mobile_app/.packages
/mobile_app/.pub-cache/
/mobile_app/.pub/
/mobile_app/lib/firebase_options.dart