<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122734005829-hhlkmusjcdmd7l13v6n8eft6r14actbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122734005829-hhlkmusjcdmd7l13v6n8eft6r14actbl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>122734005829-1fm9gr7np6i72fam7amrjmsqmi9v1b8g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0d5sxmZ-AVrJhYYmoPQb15dgufVzkL2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>122734005829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-d3fec</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-d3fec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122734005829:ios:3971f5364a53c4fff29d2c</string>
</dict>
</plist>